[bitcoind]
host = localhost
port = 8332
user = <your user here>
password = <your password here>

[server]
ip = <your ip here>
port = <your port here>
logging = true
cert = <path to your cert>
privkey = <path to your priv key>